.about-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  padding: 2rem;
}

img.about-image {
  height: 700px;
  object-fit: cover;
  border-radius: 12rem 2rem;
  filter: drop-shadow(15px 8px 3px black);
  padding: 3rem;
}
