.home {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.home-image {
  max-height: 900px;
  max-width: 100%;
  border-radius: 5px;
  object-fit: scale-down;
  filter: drop-shadow(30px 15px 4px var(--main-color));
  padding: 5rem;
}
div.text{
  text-align: center;
}
span,
.display-5 {
  color: var(--main-color);
  font-weight: bold;
  letter-spacing: 2px;
}
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style: disc;
  padding-left: 0rem;
}
li {
  flex-grow: 1;
}
form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  gap: 1rem;
  justify-content: space-evenly;
}
.form-group {
  flex-grow: 1;
}

.box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
  height: 100vh;
  justify-content: space-evenly;
}
.card {
  width: 300px;
  height: fit-content;
  padding: 1rem;
  cursor: pointer;
}
img.card-img-top {
  height: 200px;
}
.card-body {
  padding: 1rem;
}

.rent-head {
  text-align: center;
  padding: 2rem;
  text-transform: capitalize;
}

div.title {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}
div.MuiGrid-root {
  justify-content: center;
  gap: 3.5rem;
}
.step {
  padding: 8px;
  border-radius: 1rem;
  box-shadow: 2px 2px 5px var(--main-color);
}
p.step-des {
  text-align: center;
  color: #444;
  font-size: small;
  padding-top: 0.5rem;
  width: 85%;
}
.function {
  color: var(--main-color);
}
.st-icon {
  filter: drop-shadow(1px 1px 1px var(--main-color));
  border-radius: 5px;
}

.st-icon:hover {
  background-image: var(--gradient);
  color: white;
}

div.stack {
  padding-top: 2rem;
  justify-content: center;
  align-items: center;
}
