@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #af1b77;
  --second-color: #00aaf8;
  --text-color: #444;
  --gradient: linear-gradient(
    to right top,
    #af1b77,
    #a34ba9,
    #876fd1,
    #5a8fec,
    #00aaf8
  );
}
