@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root {
  --main-color: #a72d6e;
  --second-color: #05aadd;
  --text-color: #444;
  --gradient: linear-gradient(225deg,#a72d6e,  #9952a1, #7774c7, #4691da, #05aadd);
}
